.description {
  position: relative;
  &__header {
    color: $color-black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    height: 6.7rem;
    border-bottom: 1px solid black;
    border-left: 0.7rem solid #41934c;
    padding: 1rem;
  }

  &__content {
    padding: 1rem 3rem;
  }

  &__obj {
    color: $color-black;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__hashtags {
    display: grid;
  }

  &__loading {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
